body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem 0;
}

p {
    color: white;
    font-size: 0.95rem;
    font-weight: 600;
}

/* normally, let content determine the height */
.box {
    background-color: #4d4d4d;
    border-radius: 1%;
}

#hero-img {
    min-height: 300px;
}

#main-logo, #main-navbar {
    height: max-content;
}

section > ul {
    list-style-type: none;
}

#service-img {
    position: fixed;
    visibility: hidden;
    max-height: 0;
}

@media screen and (min-width: 768px) {
    #main-navbar {
        justify-items: end;
    }
}

@media screen and (min-width: 1200px) {
    div:has(+ #service-img) {
        order: 1;
    }

    #service-img {
        order: 0;
        position: inherit;
        visibility: visible;
        max-height: inherit;
    }
}